:root {
    --active-purple: #2e2575;
    --inactive-purple: #9591b9;
    --menu-font-size: 3rem;
    --intro-description-size: 7rem;
    --welcome-message-size: 3rem;

    --white-color: #fff;
    --intro-description-color: #ff5733;
    --career-bg-color: #ff5733;
    --about-title-color: #ff5733;
}

html {
    font-size: 4px;
}

/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    html {
        font-size: 4px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    html {
        font-size: 6px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 1700px) {
    html {
        font-size: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
}