header {
    width: 90%;
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 auto;
}

figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 3rem;
    padding: 0;
}

nav ul li a {
    color: var(--inactive-purple);
    font-size: var(--menu-font-size);
    text-decoration: none;
}

li.active a {
    color: var(--active-purple);
}